<div class="col m6 s12">
  <div materialize class="card">
    <div class="card-content white-text">
      <span class="card-title center-align"><strong>{{title}}</strong></span>
      <div *ngIf="icon" class="proj-icon center-align"><i [ngClass]="icon.class">{{icon.value}}</i></div>
      <p class="center-align"><i>{{abstract}}</i></p>
      <br/>
      <div *ngIf="created">
        <p class="left-align">Created:</p>
        <p>
          <span class="new badge" data-badge-caption="">{{created}}</span>
        </p>
      </div>
      <div *ngIf="platform">
        <p class="left-align">Platform:</p>
        <p>
          <span class="new badge" data-badge-caption="">{{platform}}</span>
        </p>
      </div>
      <div *ngIf="langs">
        <p class="left-align">Languages Used:</p>
        <p>
          <span *ngFor="let lang of langs" class="new badge" data-badge-caption="">{{lang}}</span>
        </p>
      </div>
    </div>
    <div class="card-action right-align">
        <a *ngIf="wip" style="'cursor' : pointer">Coming Soon!</a>
        <a class="btn waves-effec waves-lighten"[href]="link" [ngClass]="{'disabled' : wip}">Show me!</a>
    </div>
  </div>
</div>
