<div materialize id="contact">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3>Contact</h3>
      </div>
    </div>
    <div *ngIf="authSrv.user.isLoggedIn">
      <div class="row">
        <form #emailForm="ngForm" (ngSubmit)="sendEmail();emailForm.reset();" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" name="email" class="form-control" [ngClass]="{'invalid' : email.invalid && email.touched, 'valid' : email.valid && email.touched}" required [(ngModel)]="emailData.email" #email="ngModel" email/>
              <label for="email" class="active">Email</label>
              <div [hidden]="email.valid || email.pristine" class="invalid">Please provide a valid email</div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m6 s12">
              <input id="firstName" type="text" name="firstName" class="form-control" [ngClass]="{'invalid' : firstName.invalid && firstName.touched, 'valid' : firstName.valid && firstName.touched}" required [(ngModel)]="emailData.firstName" #firstName="ngModel"/>
              <label for="firstName" class="active">First Name</label>
              <div [hidden]="firstName.valid || firstName.pristine" class="invalid">Your first name is required</div>
            </div>
            <div class="input-field col m6 s12">
              <input id="lastName" type="text" name="lastName" class="form-control" [ngClass]="{'invalid' : lastName.invalid && lastName.touched, 'valid' : lastName.valid && lastName.touched}" required [(ngModel)]="emailData.lastName" #lastName="ngModel"/>
              <label for="lastName" class="active">Last Name</label>
              <div [hidden]="lastName.valid || lastName.pristine" class="invalid">Your last name is required</div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="subject" type="text" name="subject" class="form-control" [ngClass]="{'invalid' : subject.invalid && subject.touched, 'valid' : subject.valid && subject.touched}" required [(ngModel)]="emailData.subject" #subject="ngModel"/>
              <label for="subject" class="active">Subject</label>
              <div [hidden]="subject.valid || subject.pristine" class="invalid">Your email must have a subject</div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="emailContent" class="materialize-textarea" name="email-content" [ngClass]="{'invalid' : emailContent.invalid && emailContent.touched, 'valid' : emailContent.valid && emailContent.touched}" required [(ngModel)]="emailData.message" #emailContent="ngModel"></textarea>
              <label for="emailContent" class="active">Message</label>
              <div [hidden]="emailContent.valid || emailContent.pristine" class="invalid">Your email must have a body</div>
            </div>
          </div>
          <div id="form-footer" class="row">
            <div class="col s12 right-align">
              <button [disabled]="formIncomplete()" class="btn waves-effect waves-light" type="submit">
                <i class="material-icons">send</i> Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="!authSrv.user.isLoggedIn">
        <div class="dead-center">
          <div class="col s12">
            <h4>Login</h4>
            <p>You must be logged in with a google account if you want to send an email. Click the button below to login with Google Authentication</p>
            <app-sign-in-btn></app-sign-in-btn>
          </div>
        </div>
    </div>
  </div>
</div>
