<div id="portfolio" class="container">
  <div class="row">
    <h3 class="col s12 center-align">Portfolio</h3>
    <h5 class="col s12 center-align">
      A collection of personal and professional projects
    </h5>
  </div>
  <div class="row">
    <portfolio-entry [title]="'Luther Course Proposal'" [abstract]="'Senior
    capstone project: a web application that allows professors to propose
    changes to curricula and monitor proposed changes through the approval
    process. Currently in Beta at Luther College for the 2018 academic year.'"
    [created]="'May 2017'" [langs]="['AngularJS', 'MongoDB', 'Java', 'CSS3']"
    [link]="'https://github.com/whatsopdahl/apc_interface'"[platform]="'Tomcat'"
    [icon]="{'class' : 'material-icons large', 'value' : 'school'}">
    </portfolio-entry>
    <portfolio-entry [title]="'JCoCo'" [abstract]="'An implementation of
     the Python CoCo virtual machine in Java. Many thanks to my mentor and
     collaborator for this project, Dr. Kent D. Lee.'" [link]="'https://github.com/CoCoMLProgrammingLanguagesInstructors/JCoCo'"
     [created]="'January 2017'" [langs]="['Java']"
     [icon]="{'class' : 'material-icons large', 'value' : 'code'}"></portfolio-entry>
  </div>
  <div class="row">
    <portfolio-entry [title]="'J & J Wedding'" [abstract]="'The website for
    Jenna\'s and my upcoming wedding.'"
    [link]="'https://jonandjenna12-23-18.com'" [created]="'August 2018'"
    [langs]="['AngularJS', 'Sass', 'Node JS']" [icon]="{'class' :'material-icons large', 'value' : 'favorite'}" [wip]="false"></portfolio-entry>
    <portfolio-entry [title]="'Password Generator'" [abstract]="'Generate a password using the 5000 most common words in the english language'"
     [link]="'https://xkcd-jo.herokuapp.com'" [created]="'November 2014'" [platform]="'Heroku'"
     [langs]="['JavaScript', 'HTML', 'CSS']" [icon]="{'class':'material-icons large', 'value': 'security'}"></portfolio-entry>
  </div>
  <div class="row">
    <portfolio-entry [title]="'Secret Santa'" [abstract]="'An elegant web client that will generate a Secret Santa list for you. This is perfect for groups that are in diverse locations. Happy Holidays!'"
    [link]="'https://whatsopdahl.github.io/SecretSanta'" [created]="'November 2017'" [langs]="['Javascript', 'HTML', 'CSS3']" [icon]="{'class':'material-icons large', 'value' : 'card_giftcard'}"></portfolio-entry>
    <portfolio-entry [title]="'Sliding Nav Bar'" [abstract]="'Navbar with flair! Adds a sliding animation to a navigation bar'"
     [link]="'https://whatsopdahl.github.io/Sliding-Nav-Bar/'" [created]="'November 2015'"
     [langs]="['JavaScript', 'HTML', 'CSS']" [icon]="{'class' : 'material-icons large', 'value' : 'computer'}"></portfolio-entry>
  </div>
</div>
