<!DOCTYPE>

	<div class="col-xs-8 col-md-6">
		<slideshow></slideshow>
	</div>
	<div class="col-xs-4 col-md-6 pull-right">
		<div class="panel panel-default">
			<div class="panel-heading"><b>What's Opdahl?</b></div>
			<div class="panel-body">Welcome to the personal website of Jon Opdahl (UP-dahl). Here you can explore blog posts, look at various projects, and learn about the developer. If you wish to contact me you can get in touch via the contact page, Twitter, Facebook, or LinkedIn. 
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			<b>Latest Blog Post</b>
			</div>
			<div class="panel-body">
			</div>
		</div>
	</div>
