<div id="home" class="container">
  <div class="row valign-wrapper">
    <div class="col s12">
      <div class="row">
        <div class="col s6 center-align">
          <img class="circle" src="../../assets/headshot.png"/>
        </div>
        <div class="col s6">
          <h3>What's Opdahl?</h3>
          <p>Glad you asked. That's me; software engineer, Luther grad, and -- albeit regrettably -- Minnesota sports fan, but that's just
            the beginning. Checkout my technical blog, portfolio, and
            bio to learn more. If you're dying to get a hold of me, shoot me an
            email or follow me on social media using the links at the bottom of the page.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
